<!DOCTYPE html>
<html dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Erik Stackelberg" content="The portfolio of Erik Stackelberg">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" />
  <link rel="stylesheet" href="tachyons-extended.css">
</head>

<body class="pa4 pa5-ns bg-black">
  <h1 class="sans-serif fw5 f1 f-subheadline-ns near-white mb0">{{title}}</h1>
  <h2 class="sans-serif fw3 f2 f1-ns near-white mt2">{{subtitle}}</h2>
  <section class="mb4 mb5-ns">
    {{#contact}}
      <a class="sans-serif near-white f4 f3-ns mr2 mr4-ns" aria-label={{name}} href={{link}}>{{name}}</a>
    {{/contact}}
  </section>
  <section>
    {{#projects}}
      <a class="sans-serif near-white f4 f3-ns" aria-label={{name}} href={{link}}>{{name}}</a>
      <p class="garamond near-white f4 mb4">{{description}}</p>
    {{/projects}}
  </section>
</body>

</html>
